<div class="item">
        <div>Imagem da Receita</div>
        <div>
          <input
            type="url"
            name="image_url"
            placeholder=""
            value="{{ instructor.avatar_url }}">
        </div>
      </div>

      <div class="item">
        <div>Ingredientes</div>
        <div id='ingredients'>
          <div class="ingredient">
          <input
            type="text"
            name="ingredients[]"
            placeholder="Ingredient"
            value="{{ instructor.name }}">
          </div>
        </div>
      </div>
      <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

      <div class="item">
        <div>Modo de preparo</div>
        <div id="preparations">
          <div class="preparation"></div>
          <input
            type="text"
            name="preparation[]"
            placeholder="Novo Passo"
            value="{{instructor.birth}}">
          </div>
        </div>
      </div>
      <button type="button" class="add-preparation">Adicionar novo passo</button>

      <div class="item">
        <div>Informações adicionais</div>
        <div>
          <input
            type="text"
            name="information"
            value="">
        </div>
      </div>

<script src="/js/fields.js"></script>

