{% extends "layout.njk" %}

{% block head %}
  <title>Detalhes
    {{recipe.title}}
    - Foodfy</title>
{% endblock %}

{% block content %}
  <section class="receipts-page">

    <div class="receipts-item">

      <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
      <h3>{{recipe.title}}</h3>
      <h5>{{recipe.author}}</h5>

      <div class="ingredients">
        <div class="show-hide">
          <h4>Ingredientes</h4>
          <a class="hide">ESCONDER</a>
        </div>
        <div class="text">
          <ul>
            {% for ingredients in recipe.ingredients %}
              <li>{{ingredients}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="preparation">
        <div class="show-hide">
          <h4>Modo de Preparo</h4>
          <a class="hide">ESCONDER</a>
        </div>
        <div class="text">
          {% for preparation in recipe.preparation %}
            <p>{{preparation}}</p>
          {% endfor %}
        </div>
      </div>

      <div class="information">
        <div class="show-hide">
          <h4>Informações Adicionais</h4>
          <a class="hide">ESCONDER</a>
        </div>
        <div class="text">
          <p>{{recipe.information | striptags(true) | escape | nl2br}}</p>
        </div>
      </div>

    </div>

  </section>

  <script src="/js/receipts.js"></script>
{% endblock %}
