{% extends "layout.njk" %}

{% block head %}
    <title>Ingredientes {{item.title}} - Foodfy</title>
{% endblock %}

{% block content %}
    <section class="receipts-page">

        <div class="receipts-item" id="{{recipe.id}}">
          <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
          <h3>{{recipe.title}}</h3>
          <h5>{{recipe.author}}</h5>
        </div>

    </section>
{% endblock %}
