{% extends "layout.njk" %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}


    <section class="recipes-page">

      <div class="recipes-grid">
        {% for item in items %}
        <div class="recipes-item" id="{{item.id_recipes}}">
          <a href="/receipts/{{item.id}}">
          <img src="{{item.image}}" alt="Imagem de {{item.title}}">
          </a>
          <h3>{{item.title}}</h3>
          <h5>{{item.author}}</h5>
        </div>
        {% endfor %}
      </div>

    </section>

  <!--<div class="modal-overlay">-->
  </div>

  <!--<div class="modal">
    <div class="modal-content">
      <img src="" alt="&#x1F355">
    </div>
    <div class="name-recipes">
      <p></p>
    </div>
    <div class="author-recipes">
      <p></p>
    </div>
    <p class="close-modal">Fechar Modal</p>
  </div>
  -->

  {% endblock %}
