@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

html {
  font-size: 62.5%;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    width:100vw;
    overflow-y: overlay;
}

.menu {
  max-width: 940px;
  width: 90%;
  margin: auto;
  align-items: center;
  margin-top: 36.1px;
  display: flex;
}

.menu img {

  padding-right: 122.4px;
  width: 90.6px;
  height: 26.9px;
}

.menu a {
    color: #111111;
    padding-right: 30px;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-decoration: none;
}

.chef {
    margin: auto;
    margin-top: 36px;
    max-width: 940px;
    width: 90%;
    height: 366px;
    background: #FBDFDB;
    border-radius: 30px;
}

.img-chef {
  float: right;
  max-width: 216px;
  width: 100%;
  max-height: 300px;
  height: 100%;
  margin-right: 100px;
  margin-top: 66px;
}

.chef h1 {
    font-size: 3.2rem;
    line-height: 4.2rem;
    color: #111111;
    position: absolute;
    margin-top: 117px;
    margin-left: 60px;

}

.chef p {
    margin-top: 165px;
    margin-left: 60px;
    position: absolute;
    max-width: 316px;
    opacity: 0.7;
    font-size: 1.8rem;
    color: #000000;
    line-height: 2.8rem;
}

.most-accessed {
  max-width: 940px;
  width: 90%;
  margin: auto;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.most-accessed h2 {
  margin-top: 50px;
}

.most-accessed .text {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2.0rem;
  line-height: 3.0rem;
  font-weight: bold;
}

.most-accessed img {
  border-radius: 15px;
  max-width: 300px;
  width: 100%;
  height: 140px;
}

.most-accessed h3 {
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.8rem;
  padding-top: 20px;
}

.most-accessed h5 {
  font-weight: normal;
  color: #777777;
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding-top: 5px;
  padding-bottom: 30px;
}

.footer {
  margin: 50px auto;
  background: #EEEEEE;
  text-align: center;
}

.footer p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding: 23px;
  color: #999999;

}

.about {
    margin: 50px auto;
    max-width: 940px;
    width: 90%;
}

.about div h3 {
    font-size: 2.4rem;
    line-height: 3.4rem;
    font-weight: bold;
    color: #111111;
}

.about div h4 {
    font-size: 2.0rem;
    line-height: 3.0rem;
    font-weight: bold;
    color: #111111;
}

.about div p {
    margin: 20px auto;
    font-size: 1.8rem;
    color: #444444;
    line-height: 2.8rem;
}

/*RECEITAS*/

.recipes-page {
  margin: 56px auto;
  max-width: 940px;
  width: 90%;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}



.recipes-page img {
  border-radius: 15px;
  max-width: 300px;
  width: 90%;
  height: 140px;
}

.recipes-page h3 {
  padding-top: 20px;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: normal;
}

.recipes-page h5 {
  font-weight: normal;
  color: #777777;
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding-top: 5px;
  padding-bottom: 30px;
}

.modal-overlay {
  background-color: rgba(0,0,0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  visibility: hidden;
  opacity: 0.6;
}

.modal {
  background-color: #FFFFFF;
  max-width: 660px;
  width: 90%;
  position: absolute;
  border-radius: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px;
  margin: 0 auto;
  visibility: hidden;
}

.modal .close-modal {
  color: #999999;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin: 0 auto;
  margin-top: 80px;
  display: block;
  cursor: pointer;
  text-align: center;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal.active {
  visibility: visible;
}

.modal .modal-content {
  text-align: center;
}

.modal .modal-content img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  object-fit: cover;
}

.modal .name-recipes {
  font-size: 2.4rem;
  line-height: 3.4rem;
  text-align: center;
  margin-top: 20px;
}

.modal .author-recipes {
  color: #777;
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: center;
  margin-top: 5px;
}

@media (max-width: 768px) {
  html {
  font-size: 50%;
  }
}

@media (max-width: 468px) {
  html {
  font-size: 40%;
  }
  .menu a {
    padding-right: 15px;
  }
  .img-chef {
    max-width: 150px;
    margin-right: 20px;
    margin-top: 215px;
  }

.chef h1 {
  text-align: center;
  margin-top: 60px 5px;
  }

.chef p {
  text-align: center;
  width: 90%;
  margin-top: 95px 5px;
  }
}

